/*
.node-qas-answer,
.node-qas-question {
  .rate-widget-number_up_down {
    width: 38px;
    text-align: center;
  }
  .rate-number-up-down-rating {
    color: #aaa;
    font-size: 1.4em;
    line-height: 0.8em;
  }
  .rate-number-up-down-btn-up,
  .rate-number-up-down-btn-down {
    display: block;
    width: 38px;
    height: 38px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .rate-number-up-down-btn-up {
    background: url('../img/arrow_up.png') 0 38px;
  }  
  .rate-number-up-down-btn-down {
    background: url('../img/arrow_down.png') 0 38px;
  }
  a.rate-number-up-down-btn-up:hover,
  a.rate-number-up-down-btn-down:hover,
  .rate-voted {
    background-position: 0 0;
    cursor: pointer;
  }
  .rate-number-up-down-rating-up,  
  .rate-number-up-down-rating-down,
  .rate-info {
    display: none;
  }
}
*/
.node-qas-answer .rate-widget-number_up_down,
.node-qas-question .rate-widget-number_up_down {
  width: 38px;
  text-align: center;
  margin-top: 8px;
}
.node-qas-answer .rate-number-up-down-rating,
.node-qas-question .rate-number-up-down-rating {
  color: #aaa;
  font-size: 1.4em;
  line-height: 1.2em;
}
.node-qas-answer .rate-number-up-down-btn-up,
.node-qas-question .rate-number-up-down-btn-up,
.node-qas-answer .rate-number-up-down-btn-down,
.node-qas-question .rate-number-up-down-btn-down {
  display: block;
  width: 38px;
  height: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.node-qas-answer .rate-number-up-down-btn-up,
.node-qas-question .rate-number-up-down-btn-up {
  background: url('../img/arrowup.png') 0 22px;
}
.node-qas-answer .rate-number-up-down-btn-down,
.node-qas-question .rate-number-up-down-btn-down {
  background: url('../img/arrowdown.png') 0 22px;
}
.node-qas-answer a.rate-number-up-down-btn-up:hover,
.node-qas-question a.rate-number-up-down-btn-up:hover,
.node-qas-answer a.rate-number-up-down-btn-down:hover,
.node-qas-question a.rate-number-up-down-btn-down:hover,
.node-qas-answer .rate-voted,
.node-qas-question .rate-voted {
  background-position: 0 63px;
  cursor: pointer;
}
.node-qas-answer .rate-number-up-down-rating-up,
.node-qas-question .rate-number-up-down-rating-up,
.node-qas-answer .rate-number-up-down-rating-down,
.node-qas-question .rate-number-up-down-rating-down,
.node-qas-answer .rate-info,
.node-qas-question .rate-info {
  display: none;
}
